# Extract API Data

In this notebook, I collect exchange rate data in JSON format using an API and then store the data as a CSV.

## Imports Libraries

In [1]:
import requests
import pandas as pd

## Extract Data Using an API

In [2]:
# Store link(with API) to variable url
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=4b0b9e3a2efc795a1d789e873ccaee4a"

# Get data, analyse and determine format
data_json = requests.get("http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=4b0b9e3a2efc795a1d789e873ccaee4a").text

# store data in a pandas dataframe
dataframe = pd.read_json(data_json)

# Print dataframe
dataframe

     success           timestamp base       date         rates
AED     True 2021-11-19 04:17:04  EUR 2021-11-19      4.171107
AFN     True 2021-11-19 04:17:04  EUR 2021-11-19    105.531438
ALL     True 2021-11-19 04:17:04  EUR 2021-11-19    121.601205
AMD     True 2021-11-19 04:17:04  EUR 2021-11-19    540.525666
ANG     True 2021-11-19 04:17:04  EUR 2021-11-19      2.044352
..       ...                 ...  ...        ...           ...
YER     True 2021-11-19 04:17:04  EUR 2021-11-19    284.179738
ZAR     True 2021-11-19 04:17:04  EUR 2021-11-19     17.758528
ZMK     True 2021-11-19 04:17:04  EUR 2021-11-19  10221.605901
ZMW     True 2021-11-19 04:17:04  EUR 2021-11-19     19.981831
ZWL     True 2021-11-19 04:17:04  EUR 2021-11-19    365.657221

[168 rows x 5 columns]

In [3]:
# Extract only the rates column
data = pd.DataFrame([])
data['Rates'] = dataframe.rates
data

            Rates
AED      4.171107
AFN    105.531438
ALL    121.601205
AMD    540.525666
ANG      2.044352
..            ...
YER    284.179738
ZAR     17.758528
ZMK  10221.605901
ZMW     19.981831
ZWL    365.657221

[168 rows x 1 columns]

### Load the Data to a CSV

In [4]:
# Save the Dataframe
data.to_csv('ExchangeRates.csv', index=True)

## Authors

Taiwo Fawumi

taiwo.fawumi@yahoo.com

Published Nov, 2021